on:
  push:
    branches:
      - main
      - develop
    paths-ignore:
      - .git*
      - "**.md"
      - "library.properties"
      - "library.json"
  pull_request:
    branches:
      - main
      - develop
    paths-ignore:
      - .git*
      - "**.md"
      - "library.properties"
      - "library.json"

jobs:
  build:
    name: "Build Test: ${{matrix.board.arch}}:${{matrix.board.name}}"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        board:
          - vendor: esp32
            arch: esp32
            name: esp32
            version: 2.0.17
          - vendor: esp32
            arch: esp32
            name: esp32s3
            version: 2.0.17
          - vendor: esp32
            arch: esp32
            name: esp32c3
            version: 2.0.17
          - vendor: esp32
            arch: esp32
            name: esp32
          - vendor: esp32
            arch: esp32
            name: esp32s3
          - vendor: esp32
            arch: esp32
            name: esp32c3
        include:
          - index: https://raw.githubusercontent.com/espressif/arduino-esp32/gh-pages/package_esp32_index.json
            board:
              vendor: esp32
    steps:
      - uses: actions/checkout@v4
      - name: compile example sketchs
        uses: arduino/compile-sketches@v1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          fqbn: ${{matrix.board.vendor}}:${{matrix.board.arch}}:${{matrix.board.name}}
          platforms: |
            - name: ${{matrix.board.vendor}}:${{matrix.board.arch}}
              source-url: ${{matrix.index}}
          sketch-paths: |
            - examples
          libraries: |
            - source-path: ./
          verbose: true
